@media print, screen and (min-width: 767px) {
  /*ウィンドウ幅が767px以上の場合に適用*/
}
* {
  box-sizing: border-box;
}

body {
  background: white;
  color:black;
  text-align: center;
  margin: 0;
  padding: 0;
}
.site {
  width: 100%;
}
#loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  z-index: 9999;
}
.completed {
  opacity: 0;
  visibility: hidden;
}
.note {
  background: black;
  color: white;
}

.cursor,
.follower {
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  cursor: none;
}
.cursor {
  z-index: 1001;
}
.follower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(235, 19, 19, 0.555);
  transition: transform ease 0.1s;
  text-align: center;
  z-index: 1000;
  transform: scale(0.5);
}
.follower.is-active {
  transform: scale(0);
}

.banner {
  background-image: url(../images/TopA.png);
  height: 100vh;
  width: auto;
  background-position: center bottom;
  background-size: cover;
}

.banner-ex {
  background-image: url(../images/TopB.png);
  height: 100vh;
  width: 100%;
  background-position: center bottom;
  background-size: cover;
}

.header {
  padding: 30px 4% 10px;
  height: 100px;
  background: black;
  color: white;
  width: 100%;
}
.logo {
  margin: 0;
  line-height: 50px;
  float: left;
}
.nav {
  list-style: none;
  float: left;
}
.nav li {
  display: inline-block;
}
.nav li a {
  display: inline-block;
  padding: 3px 15px;
  color: inherit;
  text-decoration: none;
}

/*
  .container{
    max-width:1200px;
    padding:0 15px;
    width:100%;
  }
  .container:after {
      clear: both;
      content: "";
      display: table;
  }
  .fixed-top{
    background:rgba(43, 41, 41, 0.8);
    position:fixed;
    top:0;
  }*/

.tab {
  text-decoration: none;
  color: #faf9f9;
  position: relative;
}
.tab::before {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: 0.3s;
}
.tab:hover::before {
  width: 100%;
}

.title {
  text-align: center;
  font-family: "Courier", "Comic Sans MS";
  font-size: 70px;
}

.area1 {
  padding-top: 50px;
  font-size: 40px;
}
.pg {
  font-size: 50px;
}
h2 {
  padding: 5px; /*文字周りの余白*/
  color: black; /*文字色*/
  background: white; /*背景色*/
  border-bottom: solid 5px rgba(226, 66, 66, 0.651); /*k4線（実線 太さ 色）*/
}

.image1 {
  width: 300px;
  height: auto;
  text-align: center;
}

.box {
  margin: 0 auto;
}

.txt {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  font-size: 22px;
  line-height: 40px;
  margin: 0 auto;
}

.s-m {
  width: 200px;
  height: auto;
}


.mouse{
  width:600px;
  height:auto;
}

.st {
  width: 250px;
  height: auto;
}

.im {
  width: 300px;
  height: auto;
}
.pic {
  width: 70vw;
  height: auto;
}

.About-us {
  background-color: rgb(245, 235, 207);
}

/* .footer-ex {

   background-image: url(../images/ravel3.png);
   background-position:center bottom;
   background-size:cover;
  width:100%;
  height:80vh;

 }*/

footer {
  width: 100%;
  height: 100px;
  background-color:black;
  text-align: right;
  color: white;
  padding-top: 70px;
  padding-right: 10px;
}
